/Project/Core/bin/Debug/Core.dll
/Project/Core/bin/Debug/Core.pdb
/Project/Data/bin/Debug/Core.dll
/Project/Data/bin/Debug/Core.pdb
/Project/Data/bin/Debug/Data.dll
/Project/Data/bin/Debug/Data.pdb
/Project/Provider/bin/Debug/Provider.dll
/Project/Provider/bin/Debug/Provider.pdb
/Project/QLGym/bin/Core.dll
/Project/QLGym/bin/Core.pdb
/Project/QLGym/bin/Data.dll
/Project/QLGym/bin/Data.pdb
/Project/QLGym/bin/Provider.dll
/Project/QLGym/bin/Provider.pdb
/Project/QLGym/bin/QLGym.dll
/Project/QLGym/bin/QLGym.dll.config
/Project/QLGym/bin/QLGym.pdb
/Project/QLGym/bin/Service.dll
/Project/QLGym/bin/Service.pdb
/Project/Service/bin/Debug/Core.dll
/Project/Service/bin/Debug/Core.pdb
/Project/Service/bin/Debug/Data.pdb
/Project/Service/bin/Debug/Provider.dll
/Project/Service/bin/Debug/Provider.pdb
/Project/Service/bin/Debug/Service.dll
/Project/Service/bin/Debug/Service.pdb
/Project/Service/bin/Debug/Data.dll
/Project/Core/obj/Debug/Core.csproj.FileListAbsolute.txt
/Project/Core/obj/Debug/Core.dll
/Project/Core/obj/Debug/Core.pdb
/Project/Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Project/Data/obj/Debug/Data.csproj.FileListAbsolute.txt
/Project/Data/obj/Debug/Data.dll
/Project/Data/obj/Debug/Data.pdb
/Project/Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Project/Provider/obj/Debug/Provider.csproj.FileListAbsolute.txt
/Project/Provider/obj/Debug/Provider.dll
/Project/Provider/obj/Debug/Provider.pdb
/Project/QLGym/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Project/QLGym/obj/Debug/QLGym.csproj.FileListAbsolute.txt
/Project/QLGym/obj/Debug/QLGym.dll
/Project/QLGym/obj/Debug/QLGym.pdb
/Project/Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Project/Service/obj/Debug/Service.csproj.FileListAbsolute.txt
/Project/Service/obj/Debug/Service.dll
/Project/Service/obj/Debug/Service.pdb
